<h1 class="fw-lighter">¡Bienvenido, {{name}}!<h1>
<a (click)="logout()" class="btn-btn-primary"><img class="logout"src="assets/img/logout.png" style="cursor: pointer"/></a>


<div class="row">
    <div class="col align-self-center">
        <div class="card" style="width: 18rem; position: absolute; top: 25%; left: 20%;">
            <img src="assets/img/lordrings.png" class="card-img-top" alt="diseñar">
            <div class="card-body">
              <p class="card-text" style="color: black; font-size: 20px">Crea tu propio mazo con las características que elijas.</p>
              <a (click)="design()"class="btn btn-primary">Diseñar</a>
            </div>
          </div>
        
    </div>
    <div class="col align-self-center">
        <div class="card" style="width: 18rem; position: absolute; top: 25%; left: 60%;">
            <img src="assets/img/buscarHP.png" class="card-img-top" alt="buscar">
            <div class="card-body">
              <p class="card-text" style="color: black; font-size: 20px">Encuentra un mazo que se adecúe a tus preferencias.</p>
              <a (click)="buscar()" class="btn btn-primary">Buscar</a>
            </div>
          </div>
       
    </div>
</div>
