.ng-autocomplete {
    width:100%;
    max-width: 600px;
    display: table;
    margin: 0 auto;
  }

  button:hover {
   
    border-radius: 10px;
}
button {
    margin-top: 5px;
    margin-right: 5px;
}
div.caracteristicas {
  position: absolute;
  top: 10%;
}

