<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check-circle-fill" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
  </symbol>
</svg>

  <h1 class="fw-lighter">Palabras clave </h1>


<form> 
  <div class="col-md-4">
  <label class="form-label" for="keyword">Indica la palabra clave que quiere asignar </label>
  <input class="form-control" type="text" name="keyword" [(ngModel)]="keyword">
  
  <div class="text-danger" [hidden]="notNullKeyword">
    La palabra clave no puede estar vacía.
  </div>
  <div class="text-danger" [hidden]="errorMaxLengthKeyword">
    La palabra clave no puede tener 45 o más caracteres.
  </div>
  <div class="text-danger" [hidden]="errorDuplicateKeyword">
    La palabra clave indicada ya ha sido añadida.
  </div>
  <div class="text-danger" [hidden]="minKeywords">
    El mazo tiene que tener mínimo una palabra clave asignada.
  </div>
  <div class="text-danger" [hidden]="unexpectedError">
    Hay algo que falla. Por favor, revisa los valores que ha indicado en los campos.
  </div>
  
  <div *ngIf="alertaExito" class="alert alert-success d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="20" height="20" fill="currentColor" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
    <div>
      Palabra clave incluida con éxito.
    </div>
    
    
  </div>
</div>


  <h3 class="fw-lighter">Palabras clave indexadas al mazo. </h3>

<table class="table table-dark table-hover">
  <thead>
 
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Palabra clave</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr *ngFor="let k of keywordsDeck; index as i">
      <th scope="row">{{i+1}}</th>
      <td>{{k.word}}</td>
      
    </tr>
    <div class="text-info" [hidden]="emptyKeywords">
      No hay palabras clave asociadas al mazo.
    </div>
      
    

    
  </tbody>

</table>
  <button class="btn btn-info" (click)="deckKeyword()" [attr.disabled]="keyword==null ? true : null">Añadir palabra clave</button>
  <button class="btn btn-info" (click)="nextCategories()" type="button"> Crear mazo </button>

  
</form>