h1 {
    text-align: center;
}

button {
    margin-top: 5px;
    margin-right: 5px;
}

button:hover {
   
    border-radius: 10px;
}

input {
    margin-bottom: 10px;
}
button {
    margin-top: 5px;
    margin-right: 5px;
}


div.bordeCarta {
   width: 195px;
   height: 300px;
   left: 800px;
  
}
div.fondoCarta {
    width: 180px;
    height: 270px;
    top:20%;
 }
 div.nombreCarta {
    width: 180px;
    height: 20px;
   
 }
 div.descripcionCarta {
    width: 75px;
    height: 130px;

 }
 div.categoriasCarta {
    left: 20%;
    width: 60px;
    height: 15px;
 }