<div class="text-bg-dark p-3">
<h1 class="fw-lighter"> Selecciona las características del mazo </h1>
</div>
  <main class="text-bg-dark p-3">
    <div>
      
          <form class="row g-3"> 
            <div class="col-md-6">
              <label for="name" class="form-label">Nombre </label>
              <input type="text" class="form-control" name="name" [(ngModel)]="name" placeholder="Marvel" required>
              <div class="text-danger" [hidden]="notNullName">
                El nombre no puede quedar vacío.
              </div>
              <div class="text-danger" [hidden]="duplicatedName">
                El nombre que ha indicado ya existe. Por favor, prueba con otro nombre distinto.
              </div>
              <div class="text-danger" [hidden]="errorMaxLengthName">
                El nombre del mazo no puede tener más de 30 caracteres.
              </div>
            </div>
            <br>
            <div class="col-md-6">
              <label for="description" class="form-label"> Descripción </label>
              <input type="textarea" class="form-control" name="description" placeholder="Este fantástico mazo reúne los mejores..." [(ngModel)]="description">
              <div class="text-danger" [hidden]="errorMaxLengthDescription">
              La descripción del mazo no puede tener más de 500 caracteres.
              </div>
            </div>
            <br>
            <div class="col-md-6">
              <label for="image" class="form-label"> Imagen del mazo </label>
              <input type="url" class="form-control" name="image" placeholder="Url de la imagen que quiere introducir" [(ngModel)]="image">
              <div class="text-danger" [hidden]="errorMaxLengthImage">
                La URL de la imagen no puede tener más de 4000 caracteres.
              </div>
              <div class="text-danger" [hidden]="errorPatternURL">
                El campo imagen ha de ser una URL.
              </div>
              <div class="text-danger" [hidden]="errorIncorrectFormatImage">
                La imagen ha tener formato .jpg, .png o .jpeg .
              </div>
            </div>
            <br>
            <div class="col-md-6">
            <label for="cards" class="form-label">Número de cartas </label>
            <input type="number" class="form-control" name="cards" [(ngModel)]="cards" min="2" required>
            <div class="text-danger" [hidden]="notNullAndIncorrectNCards">
              El número de cartas no puede quedar vacío y ha de ser positivo: mayor que uno y menor o igual que treinta.
            </div>
          </div>
          <br>
            <div class="col-md-6">
            <label for="categories" class="form-label">Número de categorías </label>
            <input type="number" class="form-control" name="categories" [(ngModel)]="categories" min="2" required>
            <div class="text-danger" [hidden]="notNullAndIncorrectNCategories">
              El número de categorías no puede quedar vacío y ha de ser positivo: mayor que uno y menor o igual que seis.
            </div>
          </div>
            <br>
            <div class="col-md-6">
            <label for="valueMin" class="form-label">Valor mínimo de las categorías </label>
            <input type="number" class="form-control" name="valueMin" [(ngModel)]="valueMin" min="1" required>
            <div class="text-danger" [hidden]="notNullAndNegativeValueMin">
              El valor mínimo de las categorías de las cartas ha de ser positivo y mayor que cero.
            </div>
            </div>
            <br>
            <div class="col-md-6">
            <label for="valueMax" class="form-label">Valor máximo de las categorías </label>
            <input type="number" class="form-control" name="valueMax" [(ngModel)]="valueMax" min="1" required>
            <div class="text-danger" [hidden]="notNullAndNegativeValueMax">
              El valor máximo de las categorías de las cartas ha de ser positivo y mayor que cero.
            </div>
            <div class="text-danger" [hidden]="valueMinBiggerOrEqualThanValueMax">
              El valor mínimo de las categorías de las cartas debe ser menor y distinto al máximo.
            </div>
          </div>
          <br>
          <br>
         
          <h3 class="fw-lighter">Diseño del aspecto de las cartas: </h3>
            <div class="col-md-6">
            <label for="colorBordes" class="form-label">Color del borde </label>
            <input type="color" class="form-control" value="#000000" name="colorBordes" [(ngModel)]="colorBordes">
            <div class="text-danger" [hidden]="notNullColorBorde">
              Debe definir el color del borde de las cartas.
            </div>
            </div>
            <div class="col-md-6">
            <label for="colorFondo" class="form-label">Color del fondo </label>
            <input type="color" class="form-control" name="colorFondo" [(ngModel)]="colorFondo">
            <div class="col-md-6" [hidden]="notNullColorFondo">
               Debe definir el color del fondo de las cartas.
            </div>
            </div>
            <div class="col-md-6">
            <label for="colorPaneles" class="form-label">Color de los paneles </label>
            <input type="color" class="form-control" name="colorPaneles" [(ngModel)]="colorPaneles">
            <div class="text-danger" [hidden]="notNullColorPaneles">
                Debe definir el color de los paneles de las cartas.
            </div>
            </div>
            <div class="col-md-6">
            <label for="colorFuente" class="form-label">Color de la fuente </label>
            <input type="color" class="form-control" name="colorFuente" [(ngModel)]="colorFuente">
            <div class="text-danger" [hidden]="notNullColorFuente">
              Debe definir el color de la fuente de las cartas.
            </div>
            </div>
            
   <!--        <div class="bordeCarta" style="background-color: {{colorBordes}}">
              <p style="color: {{colorFuente}};"></p>
              <div class="fondoCarta" style="background-color: {{colorFondo}}">
                <p style="color: {{colorFuente}};"> </p>
                <div class="nombreCarta" style="background-color: {{colorPaneles}}">
                  <p style="color: {{colorFuente}};">  </p>
                </div>
                <div class="descripcionCarta" style="background-color: {{colorPaneles}}">
                  <p style="color: {{colorFuente}};"> </p>
                </div>
              
                <div class="categoriasCarta" style="background-color: {{colorPaneles}}">
                    
                  <p style="color: {{colorFuente}};"> </p>
                </div>
    
              </div>
            </div>
            --> 

            <button (click)="createDeck()" class="btn btn-info" type="button"> Siguiente </button>

            
          
            <button (click)="volver()" class="btn btn-info" type="button">Volver</button>
         </form>
     
    </div>
  </main>
