
<div class="card text-bg-info mb-3">
  <div class="card-header">
    <h2 class="fw-lighter">Generador Top Trumps</h2>
    <h3 class="fw-lighter">Accede y comienza a disfrutar</h3>
  </div>
</div>

  <div *ngIf="condicionRegistro" class="card-body">
    
    <div class="mb-3">
    <label for="usuario" class="col-auto">Usuario </label>
    <input id="usuario" type="text" class="form-control" name="usuario" [(ngModel)]="usuario">
    
  </div>
    <div class="mb-3">
    <label for="password" class="col-auto">Contraseña </label>
    <input id="password" type="password" class="form-control" name="password" [(ngModel)]="password">
  </div>

  <div class="text-danger" [hidden]="falloUsuario">
    Los credenciales no coinciden con los de ningún usuario registrado en el sistema.
  </div>
    
    <button (click)="login()" class="btn btn-info" type="button">Iniciar sesión</button>
    <br>
    <a (click)="cambiarRegistro()" class="btn btn-link" type="button">¿Aún no tienes cuenta? Registrate aquí</a>

 
  </div>

  <div *ngIf="!condicionRegistro" class="card-body">
  
      <div class="mb-3">
      <label for="usuario" class="form-label">Usuario </label>
      <input type="text" class="form-control" name="usuario" [(ngModel)]="usuario" required>
      <div class="text-danger" [hidden]="notNullUsername">
        El nombre de usuario no puede estar vacío.
      </div>
      <div class="text-danger" [hidden]="duplicatedName">
        El nombre de usuario indicado coincide con uno ya existente.
      </div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Contraseña </label>
      <input type="password" class="form-control" name="password" [(ngModel)]="password" required>
      <div class="text-danger" [hidden]="notNullPassword">
        La contraseña no puede estar vacía.
      </div>
    </div>
    <div class="mb-3">
      <label for="confirmPassword" class="form-label">Confirmar contraseña </label>
      <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="confirmPassword" required>
      <div class="text-danger" [hidden]="errorPasswordRegister">
        Las contraseñas no coinciden.
      </div>
      <div class="text-danger" [hidden]="notNullConfirmPassword">
        La confirmación de la contraseña no puede estar vacía.
      </div>
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Nombre </label>
      <input type="text" class="form-control" name="name" [(ngModel)]="name" required>
      <div class="text-danger" [hidden]="notNullName">
        El nombre no puede estar vacía.
      </div>
    </div>
      <button (click)="register()" class="btn btn-info" type="button">Registrar</button>
      <button (click)="cambiarRegistro()" class="btn btn-info" type="button">Volver</button>
  
</div>
